@keyframes slow {
    from {
      font-size: medium;
    }
    to {
      font-size: 4rem;
    }
}

:root{
    --coffee-bean: #332E2B;
    --light-gray: #EBEBEB;
    --white: #FFFFFF;
    --light-red: #FEF0F0;
    --light-pink: #FECBCA;
    --medium-light-pink: #FBD7D9;
}

* {
    font-family: 'Roboto';
    font-weight: 300;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px !important;
    white-space: -moz-pre-wrap !important;
    white-space: -o-pre-wrap !important;
    word-wrap: break-word !important;
    position: relative;
    background-color: #FBD7D9 ;
}

/* header {
    width: 100%;
    max-height: 400px;
    height: 100%;
    margin: 0;
    align-items: center;
}

.header video{
    height: 100%;
    max-height: 400px   ;
    width: auto;
    object-fit: cover; 
    opacity: .85;  
} */

/* header p{
    -o-transition-delay: 2s;
    -moz-transition-delay: 2s;
    -webkit-transition-delay: 2s;
    transition-delay: 2s;
    color: #ffffff;
    font-size: 1.5rem;
    animation: slow 2s ease forwards;
    width: 300px !important;
    flex: 1;
    margin: 30px;
    text-align: center;
    text-shadow: 2px 2px #000000;
} */


.row{
    display: flex;
    display: -moz-box;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
}

.column{
    display: flex;
    display: -moz-box;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex-wrap: wrap;
}

.content{
    background-color: #ffffff;
    margin: 0px 20px;
    padding: 10px;
    height: 100%;
}

.produtos{
    position: relative;
    max-width: 300px;
    overflow: hidden;
    display: block;
    margin: 10px;
}

.produtos strong{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 1.5rem;
    width: 300px;
    padding: 10px 0px;
    background-color: #332E2B;
    /* background-color: rgba(0, 0, 0, .2); */
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 0 #FBD7D9;
}

.produtos img{
    max-width: 300px;
    width: 100%;
    height: auto;
}

.prod-preco{
    color: #ffffff;
    transform: translateX(-100%);
    transition: 700ms;
    font-size: 3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.produtos:hover{
    transition: 1s;
    transform: scale(1.075);
}
  
@media (hover: hover) {
    .produtos:hover > .prod-preco{
        transform: translateX(0);
    }
}


@media (pointer:coarse) { 
    .prod-preco{
        height: 20%;
        transform: translateX(0);
        font-size: 2rem;
    }
}

  